* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}


/* Main Section Starts */
.main-sec {
    background-image: linear-gradient(0deg, rgba(20, 24, 36, 0.2), rgba(20, 24, 36, 0.2)), url(images/bg.jpeg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 93vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.main-sec .heading h2 {
    font-size: 4rem;
    margin-left: 10%;
    margin-bottom: 8%;
}

.main-sec .sub-heading {
    display: flex;
    margin-left: 10%;
}

.main-sec .sub {
    margin-right: 6%;
}

.main-sec .sub-1 {
    width: 20%;
}

.main-sec .sub-2 {
    width: 20%;
}

.main-sec .sub * {
    margin-bottom: 15px;

}

.main-sec .sub i {
    color: yellow;
    font-size: 3rem;

}

/* Main Section Ends */





/* Learn More Starts  */

.learn-more {
    background: #141824;
    color: #fff;
    padding: 2rem 3rem 2rem 3rem;

}


.top-learn {
    text-align: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 6rem 3rem;
    line-height: 3rem;

}

.top-learn i {
    font-size: 3rem;
}

.top-learn h2 {
    font-size: 2.5rem;
    letter-spacing: 1.5px;
}

.top-learn p {
    font-size: 1.2rem;
    letter-spacing: 2px;
}


.bottom-learn {
    display: flex;
    margin: 5rem 1rem 5rem 1rem;
}

.coloryellow {
    background: #ffb600;
    padding: 0.3rem 0.1rem;
}

.sec {
    max-width: 33%;
    margin: 5px;
    padding: 0px 20px;
}

.sec h3 {
    font-size: 20px;
    margin-bottom: 10px;

}

.sec p {
    font-size: 16px;
    line-height: 30px;

}

/* Learn more Ends  */


/* Explore  Starts Here */

.explore-sec {
    background-color: #e8eae3;
    display: flex;
    align-items: center;

    padding: 2rem 3rem 2rem 3rem;
}

.explore-sec .box1 {
    width: 49%;
}

.left-explore i {
    color: #ffb600;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.left-explore h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 100;
}

.left-explore p {
    font-size: 1rem;
    line-height: 1.3rem;
    margin-bottom: 3rem;
}

.explore-sec .explore-img {
    max-width: 100%;
    height: auto;


}

.left-explore .btn {
    background-color: #141824;
    color: #fff;
    padding: 15px 25px;
    font-size: 1rem;
    transition: 0.4s;
}

.left-explore .btn:hover {
    background-color: #ffb600;
    color: #222;
    letter-spacing: 0.1rem;

}

/* Explore Ends Here */

/* Testimonials Start here */
.testimonials {
    background: #141824;
    color: #fff;
    padding: 2rem 3rem 2rem 3rem;

}

.testimonial-content {
    text-align: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 6rem 4rem;
    line-height: 1.6rem;

}


.testimonial-content i {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.testimonial-content h2 {
    font-size: 2.5rem;
    letter-spacing: 1.5px;
    margin-bottom: 1rem;
}

.testimonial-content p {
    font-size: 1rem;
    margin-bottom: 1rem;

}

.testimonial-content .bline {
    margin-top: 3rem;
}

/* Testimonial Ends here */

/* Photo Gallary Starts here */
.photo-gallary {
    display: flex;

}

.photo {
    width: 25%;
}

img {
    max-width: 100%;
    height: 350px;
}

/* Photo Gallary Ends here */

/* Start now Starts */


.start-now {
    background-color: #e8eae3;
    display: flex;
    align-items: center;
    padding: 2rem 3rem 2rem 3rem;
}

.start-now .box2 {
    width: 49%;

}

.right-startnow {
    padding: 5rem;
}

.right-startnow h2 {
    margin-bottom: 1rem;
    font-size: 1.9rem;

}

.right-startnow p {
    margin-bottom: 2rem;
}


.startnow-box {
    display: flex;
}

.startnow-box .box3 {
    width: 49%;
}



.box3 i {
    color: #ffb600;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.box3 h3 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.box3 p {
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 3rem;
}

.box2 .explore-img {
    max-width: 100%;
    height: auto;


}



/* Start now ends */


/* Contact us Starts */
.contactus {
    display: flex;
    justify-content: space-between;
    background: #141824;
    align-items: center;
    color: #fff;
    padding: 4rem 3rem 4rem 3rem;
}

.contactus .box4 {
    width: 49%;

}

.contactus .box4 h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.contactus .box4 .street {
    margin-bottom: 1.5rem;
}

.contactus .box4 .info {
    margin-bottom: 1.5rem;
}


.contactus .box4 .phonesize {
    color: #ffb600;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.contactus .social-media i {
    font-size: 1.5rem;
    margin: 0.6rem;
    color: #ffb600;
}


.contactus .contact-msg {
    display: flex;
    flex-direction: column;


}

.contactus .contact-msg input, textarea {
    border: none;
    outline: none;
    color: #fff;
    margin-bottom: 1.5rem;
    border: 1.5px solid #fff;
    padding: 1rem 1.5rem;
    background: transparent;
    transition: 0.4s;


}

.contactus .contact-msg input:hover, textarea:hover {
    border-radius: 5px;

}



.contactus input[type="submit"] {
    background: #fff;
    width: 30%;
    color: #141824;
    font-size: 1rem;
    text-align: center;
}


/* Contact us ends */


/* Footer img start */

.footer-bg {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4)50%, rgba(0, 0, 0, 0.4)50%), url(images/8.jpeg);
    background-size: cover;
    background-position: center;
    color: #fff;
    /* border-top: 2px solid white;
    border-bottom: 2px solid white; */
    padding: 6rem 3rem;
    line-height: 3rem;

}

.footer-bg i {
    font-size: 3rem;
}

.footer-bg h2 {
    font-size: 2.5rem;
    letter-spacing: 1.5px;
}

.footer-bg p {
    font-size: 1.2rem;
    letter-spacing: 1px;
}





/* Footer img ends */

/* Footer Text starts  */
footer {
    background: #141824;
    color: #fff;
    padding: 2rem;
    text-align: center;
}

footer p a {
    border-bottom: 1px solid #fff;
    padding-bottom: 3px;
    color: #ffb600;
}

/* Footer Text Ends */
















/* Responsive */

@media (max-width: 377px) {

    /* Main Section Starts */

    .main-sec .heading h2 {
        font-size: 2.5rem !important;
    }

    .main-sec .heading h2 {
        font-size: 3rem !important;
        margin-bottom: 10%;
    }

    .main-sec .sub h3 {
        font-size: 1.2rem !important;
    }

    .main-sec .sub p {
        font-size: 1rem !important;
    }


    .main-sec .sub i {

        font-size: 2rem !important;

    }


    /* Main Section Ends */


    /* Learn More Starts  */
    .top-learn h2 {
        font-size: 1.7rem;
        letter-spacing: 1.5px;
    }

    .top-learn p {
        font-size: 1rem;
        letter-spacing: 0.2px;
        line-height: 30px;
    }

    .sec h3 {
        font-size: 18px;
        margin-bottom: 15px;

    }

    .sec p {
        font-size: 14px;
        line-height: 25px;

    }

    /* Learn more Ends  */


    /* Explore  Starts Here */

    .explore-sec {
        flex-direction: column;
        padding: 2rem 1rem 2rem 1rem;


    }

    .explore-sec .box1 {
        width: 90%;
    }

    .left-explore i {

        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .left-explore h2 {
        font-size: 2rem;
        margin-bottom: 0.7rem;

    }

    .left-explore p {
        font-size: 1rem;
        line-height: 1.3rem;
        margin-bottom: 3rem;
    }

    .explore-sec .explore-img {
        margin-top: 2rem;
    }

    /* Explore Ends Here */

    /* Testimonial Starts Here */
    .testimonials {
        padding: 1.5rem 0.5rem 1.5rem 0.5rem;

    }

    .testimonial-content .hidelater {
        display: none;
    }

    .testimonial-content h2 {
        font-size: 1.7rem;
        letter-spacing: 1.5px;
    }

    .testimonial-content p {
        font-size: 1rem;
        letter-spacing: 0.2px;
        line-height: 20px;
    }

    /* Testimonial Ends Here */

    /* Photo Gallary Starts here */
    .photo-gallary {
        flex-direction: column;

    }

    .photo {
        width: 100%;
    }

    img {
        max-width: 100%;
        height: 350px;
    }

    /* Photo Gallary Ends here */

    /* Start now starts */
    .start-now {
        flex-direction: column;
        padding: 2rem 1rem 2rem 1rem;
    }

    .start-now .box2 {
        width: 100%;
    }

    .right-startnow {
        padding: 2rem;
    }

    .right-startnow h2 {
        margin-bottom: 1rem;
        font-size: 1.9rem;

    }

    .right-startnow p {
        margin-bottom: 2rem;
    }


    .startnow-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .startnow-box .box3 {
        width: 90%;
    }


    .box2 .explore-img {
        max-width: 100%;
        height: auto;
        padding: 3rem;


    }





    /* Start now ends */




    /* Contact us Starts */
    .contactus {
        flex-direction: column;
        padding: 4rem 3rem 4rem 3rem;
    }

    .contactus .box4 {
        width: 100%;

    }

    .contactus .box4 .phonesize {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .contactus .box4 h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .contactus .box4 .street {
        margin-bottom: 1rem;
    }

    .contactus .box4 .info {
        margin-bottom: 1rem;
    }



    .contactus .social-media i {
        font-size: 1.3rem;
        margin-bottom: 2rem;
        
    }

 .contactus input[type="submit"] {
        width: 50%;
        font-size: 0.8rem;
    }


    /* Contact us ends */

    /* Footer img start */

    .footer-bg {

        line-height: 2rem;

    }

    .footer-bg i {
        font-size: 2rem;
    }

    .footer-bg h2 {
        font-size: 2rem;
        letter-spacing: 1.5px;
    }

    .footer-bg p {
        font-size: 1rem;
        letter-spacing: 1px;
    }





    /* Footer img ends */

    /* Footer Text starts  */
    footer {
        font-size: 1rem;
        padding: 1.5rem;
    }


    /* Footer Text Ends */







}


@media (max-width: 480px) {

    /* Main Section Starts */
    .main-sec .heading h2 {
        font-size: 3.2rem;
        margin-bottom: 10%;
    }

    /* Main Section Ends */



    /* Learn More Starts  */
    .top-learn h2 {
        font-size: 1.8rem;

    }

    .top-learn p {
        font-size: 1.1rem;
        letter-spacing: 0.1px;
        line-height: 30px;
    }

    .sec {
        max-width: 100%;
        margin-bottom: 4rem;
        padding: 0px 1px;
    }

    .sec h3 {
        font-size: 19px;
        margin-bottom: 15px;
    }

    .sec p {
        font-size: 15px;
    }

    /* Learn more Ends  */







}

@media (max-width: 600px) {

    /* Main Section Starts */
    .main-sec .heading h2 {
        font-size: 3.3rem;
        margin-bottom: 10%;
    }

    .main-sec .sub-heading {
        display: flex;
        flex-direction: column;
    }

    /* Main Section Ends */


    /* Learn More Starts  */
    .top-learn h2 {
        font-size: 1.9rem;
    }

    .top-learn p {
        font-size: 1.1rem;
        letter-spacing: 0.1px;
        line-height: 30px;
    }

    .bottom-learn {
        flex-direction: column;
    }

    .sec {
        max-width: 100%;
        margin-bottom: 4rem;
        padding: 0px 1px;
    }

    .sec h3 {
        font-size: 20px;
        margin-bottom: 14px;
    }

    .sec p {
        font-size: 16px;
    }

    /* Learn more Ends  */
}


@media (max-width: 900px) {

    /* Main Section Starts */
    .main-sec .heading h2 {
        font-size: 3.5rem;
        margin-bottom: 10%;
    }

    .main-sec .sub-1 {
        width: 100%;
        margin-bottom: 7%;
    }

    .main-sec .sub h3 {
        font-size: 2rem;
    }

    .main-sec .sub p {
        font-size: 1.2rem;
    }

    .main-sec .sub-2 {
        width: 100%;
    }

    /* Main Section Ends */


    /* Learn More Starts  */
    .learn-more {
        padding: 1.5rem 0.5rem 1.5rem 0.5rem;

    }

    .top-learn {
        padding: 5rem 2rem;
    }

    .top-learn i {
        font-size: 3rem;
    }

    .top-learn h2 {
        font-size: 2rem;
    }

    .top-learn p {
        font-size: 1.3rem;
        letter-spacing: 0.1px;
    }

    .coloryellow {
        background: #ffb600;
        padding: 0.3rem 0.3rem;
        color: black;
    }

    .sec {
        max-width: 100%;
        margin-bottom: 4rem;
        padding: 0px 1px;
    }

    .sec h3 {
        font-size: 20px;
        margin-bottom: 14px;
    }

    .sec p {
        font-size: 16px;
    }


    /* Learn more Ends  */
}

@media (min-width:377px) and (max-width: 480px) {

    /* Explore Starts Here */
    .explore-sec {
        flex-direction: column;
        padding: 2rem 1rem 2rem 1rem;


    }

    .explore-sec .box1 {
        width: 90%;
    }

    .left-explore i {

        font-size: 3.2rem;
        margin-bottom: 1rem;
    }

    .left-explore h2 {
        font-size: 2.5rem;
        margin-bottom: 0.7rem;

    }

    .left-explore p {
        font-size: 1rem;
        line-height: 1.3rem;
        margin-bottom: 3rem;
    }

    .explore-sec .explore-img {
        margin-top: 2rem;
    }

/* Explore Ends Here */

    /* Testimonial Starts Here */
    .testimonials {
        padding: 1.5rem 0.5rem 1.5rem 0.5rem;

    }

    .testimonial-content .hidelater {
        display: none;
    }

    .testimonial-content h2 {
        font-size: 1.8rem;

    }

    .testimonial-content p {
        font-size: 1.1rem;
        letter-spacing: 0.1px;
        line-height: 20px;
    }

    /* Testimonial Ends Here */

    /* Photo Gallary Starts here */
    .photo-gallary {
        flex-direction: column;

    }

    .photo {
        width: 100%;
    }

    img {
        max-width: 100%;
        height: 350px;
    }

    /* Photo Gallary Ends here */

    .photo-gallary {
        flex-direction: column;

    }

    .photo {
        width: 100%;
    }

    img {
        max-width: 100%;
        height: 350px;
    }

    /* Photo Gallary Ends here */


    /* Start now starts */
    .start-now {
        flex-direction: column;
        padding: 2rem 1rem 2rem 1rem;
    }

    .start-now .box2 {
        width: 100%;
    }

    .right-startnow {
        padding: 2rem;
    }

    .right-startnow h2 {
        margin-bottom: 1rem;
        font-size: 1.9rem;

    }

    .right-startnow p {
        margin-bottom: 2rem;
    }


    .startnow-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .startnow-box .box3 {
        width: 90%;
    }





    /* Start now ends */

    .contactus {
        flex-direction: column;
        padding: 4rem 3rem 4rem 3rem;
    }

    .contactus .box4 {
        width: 100%;

    }

    .contactus .box4 .phonesize {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .contactus .box4 h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .contactus .box4 .street {
        margin-bottom: 1rem;
    }

    .contactus .box4 .info {
        margin-bottom: 1rem;
    }



    .contactus .social-media i {
        font-size: 1.3rem;
        margin-bottom: 2rem;
        
    }

 .contactus input[type="submit"] {
        width: 50%;
        font-size: 0.8rem;
    }


    /* Contact us ends */


    /* Footer img start */

    .footer-bg {

        line-height: 2rem;

    }

    .footer-bg i {
        font-size: 2rem;
    }

    .footer-bg h2 {
        font-size: 2.2rem;
        letter-spacing: 1.5px;
    }

    .footer-bg p {
        font-size: 1.1rem;
        letter-spacing: 1px;
    }





    /* Footer img ends */
}


@media (min-width:480px) and (max-width: 600px) {
    /* Explore  Starts Here */

    .explore-sec {
        flex-direction: column;
        padding: 2rem 1rem 2rem 1rem;


    }

    .explore-sec .box1 {
        width: 90%;
    }

    .left-explore i {

        font-size: 3.2rem;
        margin-bottom: 1rem;
    }

    .left-explore h2 {
        font-size: 2.5rem;
        margin-bottom: 0.7rem;

    }

    .left-explore p {
        font-size: 1rem;
        line-height: 1.3rem;
        margin-bottom: 3rem;
    }

    .explore-sec .explore-img {
        margin-top: 2rem;
    }


    /* Explore Ends Here */


    /* Testimonial Starts Here */
    .testimonials {
        padding: 1.5rem 0.5rem 1.5rem 0.5rem;

    }

    .testimonial-content h2 {
        font-size: 1.9rem;
    }

    .testimonial-content p {
        font-size: 1.1rem;
        letter-spacing: 0.1px;
        line-height: 30px;
    }

    /* Testimonial Ends Here */


    /* Photo Gallary Starts here */
    .photo-gallary {
        flex-direction: column;

    }

    .photo {
        width: 100%;
    }

    img {
        max-width: 100%;
        height: 350px;
    }

    /* Photo Gallary Ends here */


    /* Start now starts */
    .start-now {
        flex-direction: column;
        padding: 2rem 1rem 2rem 1rem;
    }

    .start-now .box2 {
        width: 100%;
    }

    .right-startnow {
        padding: 2rem;
    }

    .right-startnow h2 {
        margin-bottom: 1rem;
        font-size: 1.9rem;

    }

    .right-startnow p {
        margin-bottom: 2rem;
    }


    .startnow-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .startnow-box .box3 {
        width: 90%;
    }





    /* Start now ends */
    .contactus {
        flex-direction: column;
        padding: 4rem 3rem 4rem 3rem;
    }

    .contactus .box4 {
        width: 100%;

    }

    .contactus .box4 .phonesize {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .contactus .box4 h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .contactus .box4 .street {
        margin-bottom: 1rem;
    }

    .contactus .box4 .info {
        margin-bottom: 1rem;
    }



    .contactus .social-media i {
        font-size: 1.3rem;
        margin-bottom: 2rem;
        
    }

 .contactus input[type="submit"] {
        width: 50%;
        font-size: 0.8rem;
    }


    /* Contact us ends */

    /* Footer img start */

    .footer-bg {

        line-height: 2rem;

    }

    .footer-bg i {
        font-size: 2rem;
    }

    .footer-bg h2 {
        font-size: 2.2rem;
        letter-spacing: 1.5px;
    }

    .footer-bg p {
        font-size: 1.2rem;
        letter-spacing: 1px;
    }





    /* Footer img ends */


}


@media (min-width:600px) and (max-width: 900px) {

    /* Explore  Starts Here */
    .explore-sec {
        padding: 2rem 1rem 2rem 1rem;
        flex-direction: row;
    }

    .explore-sec .box1 {
        width: 50%;
    }

    .left-explore i {
        font-size: 3.1rem;
        margin-bottom: 1rem;
    }

    .left-explore h2 {
        font-size: 2.2rem;
        margin-bottom: 0.8rem;
        font-weight: 100;
    }

    .left-explore p {
        font-size: 1.1rem;
        line-height: 1.3rem;
        margin-bottom: 3rem;
    }

    .explore-sec .explore-img {
        margin-top: 2rem;
    }


    /* Explore Ends Here */

    /* Testimonial starts here */
    .testimonials {
        padding: 1.5rem 0.5rem 1.5rem 0.5rem;

    }

    .testimonial-content {
        padding: 5rem 2rem;
    }

    .testimonial-content i {
        font-size: 3rem;
    }

    .testimonial-content h2 {
        font-size: 2rem;
    }

    .testimonial-content p {
        font-size: 1.3rem;
        letter-spacing: 0.1px;
    }

    /* Testimonial Ends Here */


    /* Photo Gallary Starts here */
    .photo-gallary {
        flex-direction: row;
        flex-wrap: wrap;

    }

    .photo {
        width: 50%;
        /* flex: 33%; */
    }

    img {
        max-width: 100%;
        height: 300px;
    }

    /* Photo Gallary Ends here */

    /* Start now starts */
    .start-now {
        flex-direction: column;
        padding: 2rem 1rem 2rem 1rem;
    }

    .start-now .box2 {
        width: 100%;
    }

    .right-startnow {
        padding: 2rem;
    }

    .right-startnow h2 {
        margin-bottom: 1rem;
        font-size: 1.9rem;

    }

    .right-startnow p {
        margin-bottom: 2rem;
    }


    .startnow-box {
        display: flex;
    }

    .startnow-box .box3 {
        width: 49%;
    }



    .box3 i {
        color: #ffb600;
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .box3 h3 {
        font-size: 1.3rem;
        margin-bottom: 1rem;
        font-weight: 500;
    }

    .box3 p {
        font-size: 1rem;
        line-height: 1rem;
        margin-bottom: 3rem;
    }

    .box2 .explore-img {
        max-width: 100%;
        height: auto;
        padding: 2rem;


    }

    /* Start now ends */
 
    .contactus .box4 {
        width: 90%;

    }

    .contactus .box4 .phonesize {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }

    .contactus .box4 h2 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .contactus .box4 .street {
        margin-bottom: 1rem;
    }

    .contactus .box4 .info {
        margin-bottom: 1rem;
    }



    .contactus .social-media i {
        font-size: 1.3rem;
        margin-bottom: 2rem;
        
    }

 .contactus input[type="submit"] {
        width: 40%;
        font-size: 0.8rem;
    }


    /* Contact us ends */

    /* Footer img starts */

    .footer-bg {

        line-height: 2.3rem;

    }

    .footer-bg i {
        font-size: 2.3rem;
    }

    .footer-bg h2 {
        font-size: 2.5rem;
        letter-spacing: 1.5px;
    }

    .footer-bg p {
        font-size: 1.5rem;
        letter-spacing: 1px;
    }

    /* Footer img Ends */


}